name: CI / DevSecOps Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-security:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    env:
      # e.g. VishalPandey1329/DevSecOps-ci-python
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest bandit

      - name: Run tests with pytest
        run: |
          echo "Running pytest..."
          pytest

      - name: Run Bandit security scan (Python code)
        run: |
          echo "Running Bandit security scan..."
          bandit -r app -ll || true

      - name: Build Docker image
        run: |
          IMAGE_NAME_LC=$(echo "${IMAGE_NAME}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME_LC=$IMAGE_NAME_LC" >> $GITHUB_ENV
          echo "Building Docker image ${IMAGE_NAME_LC}:latest"
          docker build -t "${IMAGE_NAME_LC}:latest" .
